NODE_ENV = development
PORT=5000 
DATABASE_URL=your_mongodb_url
JWT_ACCESS_SECRET=091b2c529dec033b5ff4531e
JWT_REFRESH_SECRET=41b991b21dc0a439cb45fed54499
SP_USERNAME=sp_sandbox
SP_PASSWORD=pyyk97hu&6u6
SP_ENDPOINT=https://sandbox.shurjopayment.com/
SP_PREFIX=SP
SP_RETURN_URL=http://localhost:5173/all-product